# Modeling and Predicting whether any Station in India has polluted water bodies or not

**For Detecting Water Quality different Parameters are:-**

1.   PH  (==7)
2.   CONDUCTIVITY (µmhos/cm)
3.   Dissolved Oxygen (mg/l)
4.   Temperature
5.   Biochemical Oxygen Demand (mg/l)
6.   NITRATENAN N+ NITRITENANN (mg/l)
7.   TOTAL COLIFORM (MPN/100ml)Mean

In [1]:
!pip install pandas
!pip install sklearn
!pip install xlrd
import pandas as pd
from sklearn.model_selection import train_test_split

Requirement already satisfied: pandas in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (1.18.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in c:\users\dell\appdata\roaming\python\python38\site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: xlrd in c:\users\dell\anaconda3\envs\tensorflow_env\lib\site-packages (2.0.1)

In [2]:
df=pd.read_excel('water-_2.xls')
df.head(5)

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,0.0,0.1,11.0,27.0,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2.0,0.2,4953.0,8391.0,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243.0,5330.0,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382.0,8443.0,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428.0,5500.0,2014

In [3]:
df.sort_values(by='STATION CODE', ascending=True)

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
245,2,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,0.0,0.0,0.0,208,0.0,0,0.0,0.0,2013
865,17,PERIYAR NEAR ALWAYENANELOOR,KERALA,27.5,5.6,6.9,943,1.5,0.4,655.0,1925.0,2011
375,17,"PERIYAR NEAR ALWAYENANELOOR, KERALA",KERALA,28.2,6.0,7.0,5569,2.2,0.68,473.0,1894.0,2013
118,17,"PERIYAR NEAR ALWAYENANELOOR, KERALA",KERALA,28.1,5.0,6.9,3185,1.8,0.4,290.0,667.0,2014
627,17,PERIYAR NEAR ALWAYENANELOOR,KERALA,28.0,5.1,6.9,1789,2.1,0.68,408.0,1946.0,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
93,3471,"RIVER KARAMANA AT ARUVIKARA, THIRUVANANTHAPURAM",KERALA,25.1,7.4,7.0,35,0.1,0,165.0,409.0,2014
350,3471,"RIVER KARAMANA AT ARUVIKARA, THIRUVANANTHAPURAM",KERALA,26.3,7.0,7.1,30,0.5,0.32,211.0,496.0,2013
391,3473,"RIVER VALAPATTANAM AT PARASSINIKADAVU, KANNUR",KERALA,27.8,6.6,6.8,15525,1.1,0.06,149.0,347.0,2013
643,3473,"RIVER VALAPATTANAM AT PARASSINIKADAVU, KANNUR",KERALA,27.0,6.6,7.1,15158,1.1,0.26,126.0,810.0,2012
134,3473,"RIVER VALAPATTANAM AT PARASSINIKADAVU, KANNUR",KERALA,28.8,6.6,7.0,14487,0.9,0.3,55.0,103.0,2014

In [4]:
Independent=df[['STATION CODE']]
Dependent=df[['PH']]

In [5]:
X_train,X_test,Y_train,Y_test =train_test_split(Independent,Dependent,test_size=0.3)

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
rf=RandomForestRegressor()

In [8]:
Y_train

      PH
514  7.2
573  7.5
749  7.4
172  7.6
869  6.8
..   ...
259  8.4
756  7.3
86   6.9
464  6.9
665  7.4

[666 rows x 1 columns]

**Training dataset for dependent variable**

In [9]:
Y_test

      PH
25   7.4
209  7.4
559  7.7
107  6.6
512  6.9
..   ...
940  7.8
893  8.0
190  7.7
201  7.5
566  7.8

[286 rows x 1 columns]

**Testing dataset for dependent variable**

In [10]:
X_train

     STATION CODE
514          1400
573          2714
749          2050
172          3023
869          2334
..            ...
259          2072
756          1150
86           2338
464          3371
665          2442

[666 rows x 1 columns]

# MODELING WITH RANDOM FOREST REGRESSION ALGORITHM

Random Forest is a powerful and versatile supervised machine learning algorithm that grows and combines multiple decision trees to create a “forest.” It can be used for both classification and regression problems 

![randomForest.jpg]()

In [11]:
import numpy as np
Y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 514 to 665
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PH      666 non-null    float64
dtypes: float64(1)
memory usage: 10.4 KB

In [12]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 666 entries, 514 to 665
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STATION CODE  666 non-null    int64
dtypes: int64(1)
memory usage: 10.4 KB

In [13]:
model=rf.fit(np.array(X_train).reshape(-1,1),np.array(Y_train).reshape(-1,1))

<ipython-input-13-dfa99dfdb604>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model=rf.fit(np.array(X_train).reshape(-1,1),np.array(Y_train).reshape(-1,1))

In [14]:
x=int(input())
Result=np.array(rf.predict(np.array([[x]])))

591

In [15]:
if Result>7.0 and Result <7.5:
  print ("Slightly Polluted")
elif Result >7.5:
  print ("Polluted")  
else :
  print ("Not Polluted")

Slightly Polluted

0.18889351494950857